[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.6"
django-ckeditor = "*"
psycopg2 = "*"
unidecode = "~=1.3.4"
pillow = "*"
djangorestframework = "~=3.13.1"
paycomuz = "*"
django-debug-toolbar = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.10"
